@import '../../../../styles/_mixins';
@import '../../../../styles/_variables';

.carousel{
    @include displayFlex();
    width: 100%;

    .promotion{
        width: 100%;

        img{
            width: 100%;
        }
    }
}