@import '../../../../styles/_mixins';
@import '../../../../styles/_variables';

.common-categories {
    width: 75%;
    margin: 10px auto;
    @include displayFlex($justifyContent: space-around, $alignItems: center);
    flex-wrap: wrap;
}